:root {
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-navy-blue-modal: #2e2f42;
  --color-grey: #2e2f42;
  --color-white: #ffffff;
  --color-dairy: #fcfcfc;
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
}
/* Body */
.body {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: var(--color-white);
  color: var(--color-slate);
}
/* reset star */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link {
  text-decoration: none;
}
/* reset end */

/* Header section */
.header {
  border-bottom: 1px solid var(--color-cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-cornflower);
}
.menu-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.menu-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.menu-link {
  display: block;
  padding: 24px 0;
}
.logo {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
  text-decoration: none;
  margin-right: 76px;
}
.logo-light {
  color: var(--color-cloud);
}
.logo-dark {
  color: var(--color-navy-blue);
}
.list .link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  list-style: none;
  text-decoration: none;
  color: var(--color-navy-blue);
}
.list .link:hover,
.list .link:focus {
  color: var(--color-ocean);
}
.address-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.address {
  font-style: normal;
}
.address .link {
  text-decoration: none;
  font-style: normal;
  list-style: none;
  font-weight: 400;
  color: var(--color-slate);
}
/* Hero section */

.hero-section {
  padding: 188px 0;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1440px;
  background-color: var(--color-grey);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/peopleoffice.jpg);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.title-hero {
  color: var(--color-white);
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto 48px auto;
  text-align: center;
}
.hero-button {
  display: block;
  flex-direction: row;
  align-items: center;
  min-width: 169px;
  height: 56px;
  margin-left: 480px;
  margin-right: 480px;
  margin-top: 48px;
  border-radius: 4px;
  border: none;
  background-color: var(--color-iris);
  color: var(--color-white);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--color-ocean);
}

/* Our advantages */
.advantages-section {
  padding: 120px 0;
}
/* Icons */
.advantages-item-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  width: 264px;
  background-color: var(--color-cloud);
  border-radius: 4px;
  margin-bottom: 8px;
}
.advantages-icons {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.advantages-container {
  display: flex;
  flex-wrap: wrap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  list-style-type: none;
  letter-spacing: 0.02em;
}
.advantages-item {
  width: calc((100% - 72px) / 4);
}
.advantages-text {
  color: var(--color-slate);
}
.advantages-subtitle-item {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
}

/* What are we doing */
.whatdoing-section {
  padding-bottom: 120px;
}

.title-section {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-navy-blue);
  margin-bottom: 72px;
}
.whatdoing-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  list-style-type: none;
  letter-spacing: 0.02em;
}
.whatdoing-item {
  width: calc((100% - 48px) / 3);
}

/* Our Team  */
.section-team {
  padding: 120px 0;
  background-color: var(--color-cloud);
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  list-style-type: none;
  letter-spacing: 0.02em;
}
.team-list > li {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: var(--color-white);
  cursor: pointer;
  border-radius: 0px 0px 4px 4px;
}
.team-item {
  width: calc((100% - 72px) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-card-content {
  padding: 32px 0;
  text-align: center;
}

.team-subtitle-item {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
}

.team-text {
  color: var(--color-slate);
  margin-bottom: 8px;
}

.social-icons-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.social-item {
  width: 40px;
  height: 40px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--color-iris);
  border-radius: 50%;
  fill: var(--color-cloud);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--color-ocean);
}
/* Customers */
.customers-section {
  padding: 120px 0;
}

.customers-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  border-bottom: 120px;
}
.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 88px;
  border: 1px solid var(--color-light-slate);
  border-radius: 4px;
  color: var(--color-light-slate);
}

.customers-link:hover,
.customers-link:focus {
  color: var(--color-ocean);
  border-color: var(--color-ocean);
}

.customers-icon {
  fill: currentColor;
}

/* Portfolio */
.portfolio-section {
  padding: 96px 0 120px;
}

/* Buttons */
.portfolio-list-buttons {
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}
.portfolio-button:hover,
.portfolio-button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  background-color: var(--color-cloud);
  color: var(--color-iris);
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid var(--color-cornflower);
  border-radius: 4px;
}

.button:hover,
.button:focus {
  font-family: inherit;
  color: var(--color-white);
  background-color: var(--color-ocean);
  font-weight: 500;
  border: 1px solid transparent;
  border: 1px solid transparent;
}
/* Portfolio list */

.portfolio-list {
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  letter-spacing: 0.02em;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: var(--color-white);
  cursor: pointer;
  border-radius: 0px 0px 4px 4px;
}
.portfolio-box {
}
.portfolio-window {
  width: 90%;
  padding: 30px;
  background-color: var(--color-iris);
  mix-blend-mode: normal;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: var(--color-cloud);
}
.portfolio-link {
  display: block;
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}
.portfolio-card-content {
  padding: 32px 16px;
  border: 1px solid var(--color-cornflower);
  border-top: none;
  border-radius: 0px 0px 4px 4px;
}
.title-section-item {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
}

/* Footer */

.footer {
  background-color: var(--color-navy-blue);
  color: var(--color-cloud);
  text-decoration: none;
  padding: 100px 0px;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-left {
  margin-right: 120px;
}
.footer-logo {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
  text-decoration: none;
}
.footer-logo.link {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-text {
  color: var(--color-cloud);
  text-decoration: none;
  width: 264px;
}
.footer-social-text {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
  color: var(--color-white);
  margin-bottom: 16px;
}
.footer-social-icons {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--color-iris);
  border-radius: 50%;
  fill: var(--color-cloud);
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--color-green);
}
